<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="ConsoleTitle" value="The Drunken Monk"/>
		<add key="ConsoleWidth" value="200"/>
		<add key="ConsoleHeight" value="45"/>

		<add key="SquareWidth" value="160"/>

		<add key="ComponentMargin" value="1"/>

		<add key="MainDelay" value="50"/>
	</appSettings>
</configuration>